<CENTER>
  <h1>WELCOME TO CHAT APP </h1>
<!--   <%= link_to 'GO',controller: 'posts' %> -->
</CENTER>

<%- if user_signed_in? %>
  <li><%= link_to 'Manage Posts',posts_path %></li>
<% else %>
  
<% end %>
 
<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Image</th>
  </tr>
  </thead>
 <tbody>
  <% @post.each do |post| %>

        <tr>
            <% if post.published %>

   <!--   <td><%= simple_format(h(post.title)) %></td> -->         
          <td><%= link_to post.title ,post_path(post) ,{:style=>"color:#000; "} %></td> 
          <td><%= post.text %></td>
          <td><%= image_tag post.image.thumb.url.to_s %></td>
          
          <% end %>
         <% end %> 
      </tr>

 </tbody>
</table>

