<%= form_with(model: @post, local:true) do |form| %>

  <% if @post.errors.any? %>
   <div id = "error_explanation">
     <h2>
       <%= pluralize(@post.errors.count,"error") %>
       prohibited
        this article from being saved:
      </h2>
       <ul>
          <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
      </ul>  
    </div>
  <% end %>
  

  <p class="text-primary">
      
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p class="text-primary">
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p class="text-primary">
   <%= form.label :image %><br>
   <%= form.file_field :image, class: "btn btn-primary" %>
 </p> 
 
  <p>
    <%= form.submit class: "btn btn-success" %>
  </p>
 
<% end %>